<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie API</title>
</head>
<body>
<h1>
  Welcome to the movie API
</h1>

<h3> To see all movies use /movies</h3>
<h3> To see movies by id use /movies/id</h3>
<h3> To delete movies by id use /movies/id</h3>
<h3> To add movie use
    {
    "name": "",
    "releasedate": ,
    "director": "",
    "description":" "

    }
</h3>
<h3> To update movie by id use /movies/id</h3>
<h3> To update some movie info by id /movies/id
</h3>
</body>
</html>